@model SerenityHairDesigns.Models.Employee

<div class="Create-Account-Form">
    <p id="Create-Account-Text"> Edit Employee <br /> </p>
    <div id="Create-Account-Content">
        @using (Html.BeginForm(FormMethod.Post))
        {

            <div>
                @Html.DropDownListFor(m => m.SelectedEmployee, Model.EmployeeList, "Select an employee...")
            </div>
            <button id="btnEditEmployee" name="btnSubmit" class="button-action">Edit Employee</button>
        }
    </div>
</div>
