body {
    padding-top: 0px;
    padding-bottom: 0px;
    margin-left:0px;
    margin-right:0px;
    background-size:cover;
    background-color: black;
    
}

/* Set padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

/* Set width on the form input elements since they're 100% wide by default */
input,
select,
textarea {
    max-width: 280px;
}
.center {
    margin-left: auto;
    margin-right: auto;
    width: auto;
    border: 3px solid #b74f13;
    padding: 10px;
    background-color: black;
    color: white;
    text-align: center;
    margin-bottom: 20px;
    text-decoration: none;
}

.center-emp-customer {
    margin-left: 40%;
    width: 368px;
    border: 3px solid #b74f13;
    padding: 10px;
    background-color: black;
    color: white;
    text-decoration: none;
}

.center-admin {
    margin-left: 35%;
    width: 625px;
    border: 3px solid #b74f13;
    padding: 10px;
    background-color: black;
    color: white;
    text-decoration: none;
}

.center-employee {
    margin-left: 38%;
    width: 439px;
    border: 3px solid #b74f13;
    padding: 10px;
    background-color: black;
    color: white;
    text-decoration: none;
}

.center-customer {
    margin-left: 43%;
    width: 180px;
    border: 3px solid #b74f13;
    padding: 10px;
    background-color: black;
    color: white;
    text-decoration: none;
}
.center-RegEmployee {
    margin-left: 820px;
    width: auto;
    border: 3px solid #b74f13;
    padding: 10px;
    background-color: black;
    color: white;
    text-align: center;
    margin-bottom: 20px;
    text-decoration: none;
}

h2 {
    background-color: black;
    color: white;
}

.LogoStyle {
    background-color: black;
    color: white;
    border: 3px solid #b74f13;
    text-decoration:none;
    float: left;
    margin: 5px;
    padding: 3px;
    width: 98.5%;
    margin-bottom: 10px;
}

body {
    animation:  animate ease-in-out infinite;
    background-size: cover;
    background-repeat: no-repeat;
}

.FacebookLinkPicture {
    position: fixed;
    bottom: 8px;
    right: 0px;
}

.Careers-H2 {
    background-color: black;
    color: white;
    text-align: center;
    width: fit-content;
    margin-left: 41%;
    padding: 10px 10px 10px 10px;
    border: 3px solid #b74f13;
    position: center;
}

.Careers-Text {
    overflow: auto;
    background-color: black;
    color: white;
    text-align: center;
    width: fit-content;
    margin-left: 23%;
    padding: 10px 10px 10px 10px;
    border: 3px solid #b74f13;
    position: relative ;
}

.Careers-H3 {
    background-color: black;
    color: white;
    text-align: center;
    width: fit-content;
    margin-left: 42%;
    margin-top: 2%;
    padding: 10px 10px 10px 10px;
    border: 3px solid #b74f13;
}

.Careers-Form {
    background-color: black;
    color: white;
    text-align: center;
    width: fit-content;
    height: fit-content;
    margin-left: 39%;
    margin-top: 1%;
    padding-left: 40px;
    padding-top: 5px;
}

.Login-Form {
    background-color: black;
    color: white;
    text-align: center;
    width: fit-content;
    height: fit-content;
    margin-left: 38%;
    margin-right: 38%;
    margin-top: 1%;
    padding-left: 40px;
    padding-top: 5px;
    padding-right: 40px;
}

.Careers-Form-Submit-Spacing {
    margin-top: 1em;
    margin-bottom: 1em;
}

input[name="careerSubmit"] {
    padding: 10px 10px 10px 10px;
}

.AboutUs-Text {
    background-color: black;
    color: white;
    text-align: center;
    width: fit-content;
    margin-left: 17.5%;
    padding: 10px 10px 10px 10px;
    border: 3px solid #b74f13;
}
.Manage-Employee-Text {
    background-color: black;
    color: white;
    text-align: center;
    width: 500px;
    height: 450px;
    float: left;
    padding: 35px 70px 0px 40px;
    border: 3px solid #b74f13;
}
.Manage-Employee-Title {
    text-align: center;
}

.Reviews-H2 {
    background-color: black;
    color: white;
    text-align: center;
    width: fit-content;
    margin-left: 37.5%;
    margin-top: 4%;
    padding: 10px 10px 10px 10px;
    border: 3px solid #b74f13;
}

.Review {
    float:left;
    margin-left: 310px;
    text-align: center;
    width: fit-content;
}

.Book-Now-Btn {
    margin-left: auto;
    margin-right: auto;
    width: auto;
    border: 3px solid #b74f13;
    padding: 10px;
    background-color: black;
    color: white;
    text-align: center;
    margin-bottom: 20px;
    text-decoration: none;
}

.BookNow {
    float: left;
}

.Book-Now-1 {
    float: left;
    margin-left: 410px;
    margin-bottom: 30px;
}

.Book-Now-2 {
    float: left;
    margin-left: 490px;
}

img {
    width: 400px;
    height: 300px;
}

.img-kelley {
    margin: 0px 0px 0px 20px;
}

.img-rhonda {
    margin: 0px 0px 0px 19px;
}

.img-barb {
    margin: 0px 0px 0px 19px;
}

.img-carrie {
    margin: 0px 0px 0px 19px;
}

.StylistReview {
    float: right;
    margin-right: 47px;
}

.Review-Text {
    background-color: black;
    color: white;
    text-align: center;
    width: 400px;
    height: 150px;
    margin-left: 17.5%;
    padding: 10px 10px 10px 10px;
    border: 3px solid #b74f13;
    margin: 10px;
}

.Review-Text2 {
    background-color: black;
    color: white;
    text-align: center;
    width: 400px;
    height: 150px;
    margin-left: 40%;
    padding: 10px 10px 10px 10px;
    border: 3px solid #b74f13;
    margin: 10px;
}

.BookNow-text {
    background-color: black;
    color: white;
    text-align: center;
    width: 400px;
    height: 150px;
    margin-left: 17.5%;
    padding: 10px 10px 10px 10px;
    border: 3px solid #b74f13;
    margin: 10px;
}

#star-icon {
    margin-right: 0.5em;
    color: yellow;
}

/**/
.imgContainer {
    width: 100%;
    height: 100%;
    position: absolute;
    left: 0;
    top: 0;
    animation: animate 60s linear infinite;
    background-repeat: no-repeat;
    background-size: cover;
}



@keyframes animate {
    0%,100% {
        background-image: url('../serenity images/304807290_498537205610982_5716706797304772411_n.jpg');
    }
    25% {
        background-image: url('../Content/SerenityLayoutBackground.jpg');
    }

}

.Schedules {
    float: left;
}

.CutsLabel {
  
    position: absolute;
    left: 0px;
    background-color: black;
    color: white;
    border: 3px solid #b74f13;
}
.CutsDropDown {

    background-color: black;
    color: white;
    margin: 5px;

}
.StyleLabel {
    position: absolute;
    left: 35%;
    background-color: black;
    color: white;
    border: 3px solid #b74f13;
}

.TreatmentsLabel {
    position: absolute;
    left: 72%;
    background-color: black;
    color: white;
    border: 3px solid #b74f13;
    
}

.Create-Account-Form {
    background-color: black;
    color: white;
    width: 500px;
    height: 450px;
    text-align: center;
    float: left;
    margin-left: 140px;
    padding: 35px 70px 0px 40px;
    border: 3px solid #b74f13;
}

.Create-Account-Form2 {
    background-color: black;
    color: white;
    width: 600px;
    height: 450px;
    text-align: center;
    float: left;
    margin-left: 140px;
    padding: 35px 180px 0px 40px;
    border: 3px solid #b74f13;
}


.Create-Login-Form3 {
    background-color: black;
    color: white;
    width: fit-content;
    height: fit-content;
    text-align: center;
    float: left;
    margin-left: 689px;
    padding: 35px 70px 50px 40px;
    border: 3px solid #b74f13;
}

.Create-Login-Form {
    background-color: black;
    color: white;
    width: fit-content;
    height: fit-content;
    text-align: center;
    float: left;
    margin-left: 142px;
    padding: 35px 70px 50px 40px;
    border: 3px solid #b74f13;
}

.Create-Account-ScheduleLogin-Text {
    text-align: center;
    margin-left: 50%;
}

.Create-Account-Form-Emp {
    background-color: black;
    color: white;
    width: fit-content;
    height: fit-content;
    text-align: center;
    margin-left: 34%;
    margin-top: 4%;
    padding: 35px 70px 0px 40px;
}

.Customer-Info {
    margin-right: 100px;
}

.Sign-In-Form {
    margin-right: 50px;
}

.Sign-In-Form-Emp {
    margin: 70px 0px 0px 45px;
}

.Login-Textboxes {
    margin-left: 70px;
}

#Create-Account-OR {
    color: white;
    margin-top: 30px;
    margin-bottom: 20px;
}

#Create-Account-Content {
    margin-left: 22%;
}

#Create-Account-Text {
    margin-left: 55px;
}

#btnCreateAccount {
    margin-left: 55px;
    margin-top: 15px;
}


.stars input[type="radio"] {
    display: none;
}

.stars label {
    font-size: 30px;
    color: gray;
    cursor: pointer;
    transition: color 0.3s ease;
}

.stars label:hover,
.stars input[type="radio"]:checked ~ label {
    color: gold;
}

.Stylist-logged-in {
    display: flex;
    justify-content: left;
}

.Stylist-logged_in-1 {
    background-color: black;
    font-size: 25px;
    color: white;
    width: fit-content;
    height: fit-content;
    padding: 15px 15px 15px 15px;
    border: 3px solid #b74f13;
    margin-right: 50px;
}

.Employee-Profile {
    background-color: black;
    color: white;
    width: fit-content;
    height: fit-content;
    text-align: center;
    border: 3px solid #b74f13;
    padding: 20px 20px 20px 20px;
}

.Emp-Availability1 {
    background-color: black;
    width: fit-content;
    height: fit-content;
    border: 3px solid #b74f13;
    margin-left: 50px;
    padding: 20px 20px 20px 20px;
}

.Shift-Title1 {
    text-align: center;
    color: white;
    
}


.img-Stylist-Logged-In {
    margin-right: 50px
}


.Availability-Title {
    background-color: black;
    color: white;
    text-align: center;
    font-size: 22px;
    width: 420px;
    height: 33px;
    margin-left: 37%;
    margin-top: 50px;
    padding: 10px 10px 10px 10px;
    border: 3px solid #b74f13;
}


.Shift-Text {
    color: white;
}

.Shift-Title {
    text-align: center;
    color: white;
    padding-top: 25px;
}

.Emp-Availability {
    margin-left: 120px;
    margin-top: 10%;
    background-color: black;
    width: 330px;
    padding-left: 20px;
    padding-bottom: 10px;
}

.section {
    overflow: visible;
    display: block;
    clear: both;
    margin: 0 0 1.0em 0;
    overflow: auto;
}

.item {
    display: inline;
    float: left;
    margin-right: 1.0em;
    margin-bottom: 1.0em;
}

#user-profile-image {
    margin-right: 1em;
    display: inline-block;
    float: left;
}

.user-profile-thumbnail {
    width: 15em;
}

.user-profile-image-container {
    border: 1px solid gray;
    -webkit-border-radius: 0.3em;
    -moz-border-radius: 0.3em;
    border-radius: 0.3em;
    padding: 0.4em;
    margin-right: 1em;
    margin-bottom: 1em;
    display: inline-block;
}

.user-image-container {
    border: 1px solid #ccc;
    float: left;
    height: 100px;
    width: 200px;
    overflow: hidden;
    margin-right: 2em;
    margin-bottom: 2em;
    position: relative;
}

    .user-image-container img {
        width: 200px;
        max-height: 140px;
        object-fit: scale-down;
    }

    .user-image-container:hover {
        border: 1px solid black;
        background-color: #e6ffec !important;
    }

        .user-image-container:hover .image-delete-button {
            opacity: 1;
        }

.Admin-Profile {
    background-color: black;
    color: white;
    height: auto;
    width: 600px;
    text-align: center;
    margin-left: 34%;
}

.Admin-Text {
    padding: 20px 0px 20px 0px;
}

#Schedule-Appointment-Text {
    color: white;
    margin-right: 10%;
    padding-bottom: 20px;
}

#Schedule-Appointment-Content {
    background-color: black;
    height: auto;
    width: 600px;
    color: white;
    margin-left: 31.5%;
    text-align: center;
    padding: 15px 15px 15px 80px;
    margin-top: 30px;
}

#Schedule-Appointment-Content-Text {
    padding-bottom: 15px;
}

#Schedule-Appointment-Btn {
    margin-right: 10%;
    margin-top: 30px;
    margin-bottom: 10px;
}
    margin-left: 37%;
}

.Experience-label {
    display: inline-block;
    width: 100px; /* Adjust the width to your preference */
    text-align: right; /* Align the text to the right for horizontal label */
    margin-right: 10px; /* Add some margin between the label and textbox */
}

#btnScheduleAppointment {
    margin-bottom: 20px;
}