body {
    padding-top: unset;
    padding-bottom: unset;
    margin-left:auto;
    margin-right:auto;
    background-size:cover;
    
}

/* Set padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

/* Set width on the form input elements since they're 100% wide by default */
input,
select,
textarea {
    max-width: 280px;
}
.center {
    margin-left: auto;
    margin-right: auto;
    width: 30%;
    border: 3px solid #b74f13;
    padding: 10px;
    background-color: dimgrey;
}
h2 {
    background-color: black;
    color: white;
}
.LogoStyle {
    background-color: black;
    color: white;
    border: 3px solid #b74f13;
    
}
body {
    animation:  animate ease-in-out infinite;
    background-size: cover;
    background-repeat: no-repeat;
}
.FacebookLink {
    position: absolute;
    bottom: 8px;
    right: 16px;
    font-size: 18px;
}
.FacebookLinkPicture {
    position: absolute;
    bottom: 8px;
    right: 0px;
    font-size: 18px;
}

.Careers-H2 {
    background-color: black;
    color: white;
    text-align: center;
    width: fit-content;
    margin-left: 41%;
    padding: 10px 10px 10px 10px;
    border: 3px solid #b74f13;
}

.Careers-Text {
    background-color: black;
    color: white;
    text-align: center;
    width: fit-content;
    margin-left: 23%;
    padding: 10px 10px 10px 10px;
    border: 3px solid #b74f13;
}

.Careers-H3 {
    background-color: black;
    color: white;
    text-align: center;
    width: fit-content;
    margin-left: 42%;
    margin-top: 2%;
    padding: 10px 10px 10px 10px;
    border: 3px solid #b74f13;
}

.Careers-Form {
    background-color: black;
    color: white;
    text-align: center;
    width: fit-content;
    height: fit-content;
    margin-left: 38%;
    margin-top: 1%;
    padding-left: 40px;
    padding-top: 5px;
}

.Careers-Form-Submit-Spacing {
    margin-top: 1em;
    margin-bottom: 1em;
}

input[name="careerSubmit"] {
    padding: 10px 10px 10px 10px;
}
/**/
.imgContainer {
    width: 100%;
    height: 100%;
    position: absolute;
    left: 0;
    top: 0;
    animation: animate 60s linear infinite;
    background-repeat: no-repeat;
    background-size: cover;
}



@keyframes animate {
    0%,100% {
        background-image: url('../serenity images/hair_salon_stations.jpg');
       
    }
    25%{
        background-image: url('../serenity images/304807290_498537205610982_5716706797304772411_n.jpg');
        
    }
}

.CutsLabel {
    position: absolute;
    left: 0px;
    background-color: black;
    color: white;
    border: 3px solid #b74f13;
}
.CutsDropDown {
    background-color: black;
    color: white;
}
.StyleLabel {
    position: absolute;
    left: 275px;
    background-color: black;
    color: white;
    border: 3px solid #b74f13;
}

.TreatmentsLabel {
    position: absolute;
    left: 550px;
    background-color: black;
    color: white;
    border: 3px solid #b74f13;
}