
@{
    ViewBag.Title = "Stylist2";
}

<h2>Stylist2</h2>

<head>
    <script src="https://kit.fontawesome.com/d5e1912311.js" crossorigin="anonymous"></script>
</head>

<div class="StylistReview">
    <p class="Review-Text">
        <i id="star-icon" class="fa-sharp fa-solid fa-star"></i>
        <i id="star-icon" class="fa-sharp fa-solid fa-star"></i>
        <i id="star-icon" class="fa-sharp fa-solid fa-star"></i>
        <i id="star-icon" class="fa-sharp fa-solid fa-star"></i>
        <i id="star-icon" class="fa-sharp fa-solid fa-star"></i>
        <br />
        <br />
        I drive from Springfield Township, Ohio to have Carrie Geiman color, highlight, cut and style my hair. She's great. She does a fabulous job every time!!!
        <br />
        So glad I met her. Definitely worth the drive!
    </p>
</div>

<a class="center" id="btnBookNow4" name="btnBookNow" href="~/profile/ScheduleLogin">ScheduleNow</a>