
@{
    ViewBag.Title = "Stylist4";
}
<head>
    <script src="https://kit.fontawesome.com/d5e1912311.js" crossorigin="anonymous"></script>
</head>
<h2>Carrie Geiman</h2>
<div class="StylistReview">
    <p class="Review-Text">
        <i id="star-icon" class="fa-sharp fa-solid fa-star"></i>
        <i id="star-icon" class="fa-sharp fa-solid fa-star"></i>
        <i id="star-icon" class="fa-sharp fa-solid fa-star"></i>
        <i id="star-icon" class="fa-sharp fa-solid fa-star"></i>
        <i id="star-icon" class="fa-sharp fa-solid fa-star"></i>
        <br />
        <br />
        I drive from Springfield Township, Ohio to have Carrie Geiman color, highlight, cut and style my hair. She's great. She does a fabulous job every time!!!
        <br />
        So glad I met her. Definitely worth the drive!
    </p>
</div>
<div class="Review-Text">
    <p>
        <br />
        <br />
        Skills: Color specialist/ <br>
        Hair Cut specialist/ <br>
        Hair Designer
    </p>
</div>
<a class="center" id="btnBookNow4" name="btnBookNow" href="~/profile/ScheduleLogin">ScheduleNow</a>