
@{
    ViewBag.Title = "Stylist1";
}

<h2>Stylist1</h2>

<head>
    <script src="https://kit.fontawesome.com/d5e1912311.js" crossorigin="anonymous"></script>
</head>

<div class="StylistReview">
    <p class="Review-Text">
        <i id="star-icon" class="fa-sharp fa-solid fa-star"></i>
        <i id="star-icon" class="fa-sharp fa-solid fa-star"></i>
        <i id="star-icon" class="fa-sharp fa-solid fa-star"></i>
        <i id="star-icon" class="fa-sharp fa-solid fa-star"></i>
        <i id="star-icon" class="fa-sharp fa-solid fa-star"></i>
        <br />
        <br />
        I had my hair cut at great clips and the service there was terrible they let me go outside with a wet head when it was winter time.
        <br />
        kelly does my moms hair and i decided to give her a chance at serenity it was far better than getting it done at any sports clips or great clips.
    </p>
</div>

<a class="center" id="btnBookNow4" name="btnBookNow" href="~/profile/ScheduleLogin">ScheduleNow</a>