<!DOCTYPE html>

<html>
<head>
    <link href="~/Content/Site.css" rel="stylesheet" type="text/css" />
    <meta name="viewport" content="width=device-width" />
    @{//Company name
        ViewBag.Title = "Serenity Hair Designs";
    }
</head>

<body>


    <div class="imgContainer">
        <div>
            <div class="LogoStyle">
                <h2>@ViewBag.Title</h2>
            </div>
            <div class="center">
                <nav>
                    <a class="center" id="btnHome" name="btnHome" href="~/Home/Index">Home</a>
                    <a class="center" id="btnServices" name="btnServices" href="~/Home/Services">Services</a>
                    <a class="center" id="btnCareers" name="btnCareers" href="~/Home/Careers">Careers</a>
                    <a class="center" id="btnAboutUs" name="btnAboutUs" href="~/Home/AboutUs">About Us</a>
                    <a class="center" id="btnContactUs" name="btnContactUs" href="~/Home/ContactUs">Contact Us</a>
                    <a class="center" id="btnBookNow" name="btnBookNow" href="~/Home/BookNow">BookNow!!</a>
                    <a class="center" id="btnLogin" name="btnLogin" href="~/profile/Employeelogin">EmployeeLogin</a>
                </nav>
            </div>
            @RenderBody()
        </div>
    </div>

    
	<div class="FacebookLinkPicture">
		<a href="https://www.facebook.com/profile.php?id=100063641198562"><img src="~/Content/FacebookIcon.png" style="width:100px; height:100px;"/></a>
	</div>
</body>


</html>
