<!DOCTYPE html>

<html>
<head>
    <link href="~/Content/Site.css" rel="stylesheet" type="text/css"/>
    <meta name="viewport" content="width=device-width" />
    <title>@ViewBag.Title</title>
</head>

<body>
    <div class="LogoStyle">
        <h2>@ViewBag.Title</h2>
    </div>
    <div class="center">
        <a id="btnHome" name="btnHome" href="~/Home/Index">Home</a>
        <a id="btnServices" name="btnServices" href="~/Home/Services">Services</a>
        <a id="btnCareers" name="btnCareers" href="~/Home/Careers">Careers</a>
        <button id="btnAboutUs" name="btnAboutUs" value="submit">About Us</button>
        <button id="btnContactUs" name="btnContactUs" value="submit">Contact Us</button>
        <button id="btnPolicies" name="btnPolicies" value="submit">Policies</button>
    </div>
    <img src="~/Serenity Images/304807290_498537205610982_5716706797304772411_n.jpg" />
    <div class="FacebookLink">
        <a href="https://www.facebook.com/profile.php?id=100063641198562">FaceBook!!!</a>
    </div>
    <div>
        @RenderBody()
    </div>
</body>
</html>
