<!DOCTYPE html>

<html>
<head>
    <link href="~/Content/Site.css" rel="stylesheet" type="text/css" />
    <meta name="viewport" content="width=device-width" />
    @{//Company name
        ViewBag.Title = "Serenity Hair Designs";
    }
</head>

<body>


    <div class="imgContainer">
        <div>
            <div class="LogoStyle">
                <h2>@ViewBag.Title</h2>
            </div>
            <div class="center">
                <nav>
                <a class="LogoStyle" id="btnHome" name="btnHome" href="~/Home/Index">Home</a>
                <a class="LogoStyle" id="btnServices" name="btnServices" href="~/Home/Services">Services</a>
                <a class="LogoStyle" id="btnCareers" name="btnCareers" href="~/Home/Careers">Careers</a>
                <a class="LogoStyle" id="btnAboutUs" name="btnAboutUs" href="~/Home/AboutUs">About Us</a>
                <a class="LogoStyle" id="btnContactUs" name="btnContactUs" href="~/Home/ContactUs">Contact Us</a>
                <a class="LogoStyle" id="btnBookNow" name="btnBookNow" href="~/Home/BookNow">BookNow!!</a>
                </nav>
            </div>
            @RenderBody()
        </div>
    </div>

    
    <div class="FacebookLinkPicture">
        <a href="https://www.facebook.com/profile.php?id=100063641198562"><img src="~/Serenity Images/304807290_498537205610982_5716706797304772411_n.jpg" /></a>
    </div>

    <div class="FacebookLink">
        <a href="https://www.facebook.com/profile.php?id=100063641198562">FaceBook!!!</a>
    </div>
</body>


</html>
