@model.SerenityHairDesigns.Models.Employee
@{

}

@if ((ViewBag.blnIsEmployee == 1) && (ViewBag.IsAdmin == 1))
{
	<div class="center-admin">
		<a class="center" name="LogOut" href="~/Profile/SignOut">Log Out</a>
		<a class="center" name="ScheduleAppointment" href="~/Profile/EmployeeScheduleAppointment">Schedule Appointment</a>
		<a class="center" name="EmployeesInfo" href="~/Profile/EmployeesInfo">My Info</a>
		<a class="center" name="ManageEmployees" href="~/Employee/ManageEmployees">Manage Employees</a>
		<a class="center" name="Profile" href="~/Profile/AdminLoggedIn">Admin Profile</a>
	</div>
}
@if ((ViewBag.blnIsEmployee == 1) && (ViewBag.IsAdmin != 1))
{
	<div class="center-employee">
		<a class="center" name="LogOut" href="~/Profile/SignOut">Log Out</a>
		<a class="center" name="ScheduleAppointment" href="~/Profile/EmployeeScheduleAppointment">Schedule Appointment</a>
		<a class="center" name="EmployeesInfo" href="~/Profile/EmployeesInfo">My Info</a>
		<a class="center" name="Profile" href="~/Profile/EmployeeLoggedIn">My Profile</a>
	</div>
}
@if (ViewBag.blnIsCustomer == 1)
{
	<div class="center-customer">
		<a class="center" name="LogOut" href="~/Profile/SignOut">Log Out</a>
		<a class="center" name="Profile" href="~/Profile/CustomerIndex">My Profile</a>
	</div>
}

<h2>EmployeeInfo</h2>

<head>
	<title>My Display Page</title>
	<style>
		.header {
			display: flex;
			flex: 1 1 30%;
			flex-wrap: wrap;
			justify-content: space-between;
			align-items: center;
			background-color: lightgray;
			padding: 10px;
		}

		.header__item {
			flex: 1 1 30%;
			margin-right: 20px;
			margin-bottom: 10px;
		}

		input {
			width: 100%;
			padding: 5px;
			border-radius: 5px;
			border: 1px solid #ccc;
		}
	</style>
</head>
<body>

	<div class="header">
		<form action="EmployeeCosts" method="post">

			<div class="header__item">
				<h1>Employee Costs</h1>
				<label for="startdate">Start Date:</label>
				<input type="date" id="startdate" name="startdate">
				<br />
				<label for="enddate">End Date:</label>
				<input type="date" id="enddate" name="enddate">
				<br />
				<label for="boothrental">Booth Rental:</label>
				<input type="text" id="boothrental" name="boothrental">
				<br />
				<label for="inventoryused">Product Used:</label>
				<input type="text" id="inventoryused" name="inventoryused">
				<br />
				<label for="numberofproduct"># of Product Used:</label>
				<input type="number" id="numberofproduct" name="numberofproduct">
				<br>
				<button value="submit">Submit</button>
			</div>
			}

		</form>

		<form action="ContactUs" method="post">

			<div class="header__item">
				<h1>Employee Earnings</h1>
				<label for="startdate">Start Date:</label>
				<input type="text" id="startdate" name="startdate">
				<br />
				<label for="enddate">End Date:</label>
				<input type="text" id="enddate" name="enddate">
				<br />
				<label for="appointmentpay">Appointment Pay:</label>
				<input type="text" id="appointmentpay" name="appointmentpay">
				<br />
				<label for="tip">Tip Amount:</label>
				<input type="text" id="tip" name="tip">
				<br />
				<button value="submit">Submit</button>
			</div>

			}

			<div class="header__item">
				<h1>Employee Products</h1>

			</div>

			@*
				</form>*@


	</div>


	<!--<div class="header">-->
	@*<form class="header__item" id="EmployeeCosts">
	*@
	<!--<div class="header__item">
		<h1>Employee Costs</h1>
		<label for="startdate">Start Date:</label>
		<input type="date" id="startdate" name="startdate">
		<br />
		<label for="enddate">End Date:</label>
		<input type="date" id="enddate" name="enddate">
		<br />
		<label for="boothrental">Booth Rental:</label>
		<input type="text" id="boothrental" name="boothrental">
		<br />
		<label for="inventoryused">Product Used:</label>
		<input type="text" id="inventoryused" name="inventoryused">
		<br />
		<label for="numberofproduct"># of Product Used:</label>
		<input type="number" id="numberofproduct" name="numberofproduct">
		<br>
		<button value="submit">Submit</button>
	</div>-->
	@*
		</form>*@

	<!--<form class="header__item" id="EmployeeEarnings">
			<div class="header__item">
				<h1>Employee Earnings</h1>
				<label for="startdate">Start Date:</label>
				<input type="text" id="startdate" name="startdate">
				<br />
				<label for="enddate">End Date:</label>
				<input type="text" id="enddate" name="enddate">
				<br />
				<label for="appointmentpay">Appointment Pay:</label>
				<input type="text" id="appointmentpay" name="appointmentpay">
				<br />
				<label for="tip">Tip Amount:</label>
				<input type="text" id="tip" name="tip">
				<br />
				<button value="submit">Submit</button>
			</div>

		</form>
		<div class="header__item">

			<div class="header__item">
				<h1>Employee Products</h1>

			</div>

		</div>

	</div>-->

	<div class="header">
		<div class="header__item">
			<h1>Employee Costs</h1>
			<label>Start Date: </label>
			<input type="text">
			<br />
			<label>End Date: </label>
			<input type="text">
			<br />
			<label>Booth Rental: </label>
			<input type="text">
			<br />
			<label>Product Cost: </label>
			<input type="text">
			<br />
			<label>Building Rental: </label>
			<input type="text">
			<br />
			<label>Building Utilities: </label>
			<input type="text">
		</div>
		<div class="header__item">
			<h1>Employee Earnings</h1>
			<label>Start Date: </label>
			<input type="text">
			<br />
			<label>End Date: </label>
			<input type="text">
			<br />
			<label>Appointment Pay: </label>
			<input type="text">
			<br />
			<label>Tip Amount: </label>
			<input type="text">
			<br />
			<label>Booth Revenue </label>
			<input type="text">
		</div>
		<div class="header__item">
			<h1>Product Inventory</h1>
			<label>Product Name: </label>
			<input type="text">
			<br />
			<label>Amount: </label>
			<input type="text">
			<br />
			<label>Product Name: </label>
			<input type="text">
			<br />
			<label>Amount: </label>
			<input type="text">

		</div>
	</div>



</body>

<script>

	function submitForm(event) {
		event.preventDefault(); // prevent the form from submitting normally

		const form = document.getElementById("EmployeeCosts");
		const formData = new FormData(form);

		// filter out unwanted form fields
		const filteredData = new FormData();
		filteredData.append("startdate", formData.get("startdata"));
		filteredData.append("enddate", formData.get("email"));

		// submit the filtered form data using Ajax or any other method
		// ...
	}
</script>