@model SerenityHairDesigns.Models.Employee
@{
	ViewBag.Title = "Employeelogin";
}

@if ((ViewBag.blnIsEmployee == 1) && (ViewBag.IsAdmin == 1))
{
	<div class="center-admin">
		<a class="center" name="LogOut" href="~/Profile/SignOut">Log Out</a>
		<a class="center" name="ScheduleAppointment" href="~/Profile/EmployeeScheduleAppointment">Schedule Appointment</a>
		<a class="center" name="EmployeesInfo" href="~/Profile/EmployeesInfo">My Info</a>
		<a class="center" name="ManageEmployees" href="~/Employee/ManageEmployees">Manage Employees</a>
		<a class="center" name="Profile" href="~/Profile/AdminLoggedIn">Admin Profile</a>
	</div>
}
@if ((ViewBag.blnIsEmployee == 1) && (ViewBag.IsAdmin != 1))
{
	<div class="center-employee">
		<a class="center" name="LogOut" href="~/Profile/SignOut">Log Out</a>
		<a class="center" name="ScheduleAppointment" href="~/Profile/EmployeeScheduleAppointment">Schedule Appointment</a>
		<a class="center" name="EmployeesInfo" href="~/Profile/EmployeesInfo">My Info</a>
		<a class="center" name="Profile" href="~/Profile/EmployeeLoggedIn">My Profile</a>
	</div>
}
@if (ViewBag.blnIsCustomer == 1)
{
	<div class="center-customer">
		<a class="center" name="LogOut" href="~/Profile/SignOut">Log Out</a>
		<a class="center" name="Profile" href="~/Profile/CustomerIndex">My Profile</a>
	</div>
}

<h2>EmployeeLogin</h2>


<div class="Create-Account-Form-Emp">
	<div class="Sign-In-Form-Emp">
		<p>Existing Employee? Sign-In</p>
		@using (Html.BeginForm(FormMethod.Post))
		{
			<div class="Login-Textboxes">
				<table>
					<tr>
						<td>
							<p>Email Address:</p>
						</td>
						<td>
							<div>@Html.TextBoxFor(model => model.strEmailAddress, new { @autofocus = "autofocus" })</div>
						</td>
					</tr>
					<tr>
						<td>
							<p>Password:</p>
						</td>
						<td>
							<div>@Html.TextBoxFor(model => model.strPassword, new { type = "password" })</div>
						</td>
					</tr>
				</table>
			</div>
			<button id="btnSignIn" name="btnSubmit" value="signin" class="button-action"><i class="fas fa-sign-in-alt"></i> Sign-In</button>
		}
	</div>
</div>
