
@{
    ViewBag.Title = "EmployeeScheduleAppointment";
}

<h2>EmployeeScheduleAppointment</h2>


<div class="Create-Account-Form-Emp">
	<div class="Sign-In-Form-Emp">
		@using (Html.BeginForm(FormMethod.Post))
		{
		<div class="header__item">
			<h1>Schedule Hair Appointment</h1>
			<label for="AppointmentDateTime">Pick an available time/day:</label>
			<input type="datetime-local" id="AppointmentDateTime" name="AppointmentDateTime">
			<br />
			<br />
			<label for="AppointmentService">Type of Service:</label>
			<select id="Services" name="Services">
				@foreach (var item in ViewBag.Services)
				{
					<option value="@item.intServiceID">@item.strServiceName</option>
				}
			</select>

			<br />
			<label for="firstname">First Name:</label>
			<input type="text" id="firstname" name="firstname">
			<br />
			<label for="lastname">Last Name:</label>
			<input type="text" id="lastname" name="lastname">
			<br />
			<label for="Number">Phone Number:</label>
			<input type="text" id="Number" name="Number">
			<br />
			<label for="Gender">Gender:</label>
			<select id="Gender" name="Gender">
				@foreach (var item in ViewBag.Genders)
				{
					<option value="@item.intGenderID">@item.strGenderDesc</option>
				}
			</select>

			<br />
			<button id="btnScheduleAppointment" name="btnSubmit" value="btnScheduleAppointment" class="button-action">Submit Appointment</button>
		</div>
		}
	</div>
</div>


