@model SerenityHairDesigns.Models.Employee
@{
    ViewBag.Title = "EmployeeInfo";
}

<h2>EmployeeInfo</h2>

<head>
	<title>My Display Page</title>
	<style>
		.header {
			display: flex;
			flex-wrap: wrap;
			justify-content: space-between;
			align-items: center;
			background-color: lightgray;
			padding: 10px;
		}

		.header__item {
			flex: 1 1 30%;
			margin-right: 20px;
			margin-bottom: 10px;
		}

		input {
			width: 100%;
			padding: 5px;
			border-radius: 5px;
			border: 1px solid #ccc;
		}
	</style>
</head>
<body>


	<div class="header">
		<div class="header__item">
			<h1>Employee Costs</h1>
			<label>Start Date: </label>
			<input type="text">
			<br />
			<label>End Date: </label>
			<input type="text">
			<br />
			<label>Booth Rental: </label>
			<input type="text">
			<br />
			<label>Product Cost: </label>
			<input type="text">
		</div>
		<div class="header__item">
			<h1>Employee Earnings</h1>
			<label>Start Date: </label>
			<input type="text">
			<br />
			<label>End Date: </label>
			<input type="text">
			<br />
			<label>Appointment Pay: </label>
			<input type="text">
			<br />
			<label>Tip Amount: </label>
			<input type="text">
		</div>
		<div class="header__item">
			<h1>Employee Products</h1>
			<input type="text" placeholder="Enter input for Header 3">
		</div>
	</div>


	<br />
	<br />
	<h2>Previous Employee Info</h2>
	<br />

	<div class="header">
		<div class="header__item">
			<h1>Employee Costs</h1>
			<label>Start Date: </label>
			<input type="text">
			<br />
			<label>End Date: </label>
			<input type="text">
			<br />
			<label>Booth Rental: </label>
			<input type="text">
			<br />
			<label>Product Cost: </label>
			<input type="text">
			<br />
			<label>Building Rental: </label>
			<input type="text">
			<br />
			<label>Building Utilities: </label>
			<input type="text">
		</div>
		<div class="header__item">
			<h1>Employee Earnings</h1>
			<label>Start Date: </label>
			<input type="text">
			<br />
			<label>End Date: </label>
			<input type="text">
			<br />
			<label>Appointment Pay: </label>
			<input type="text">
			<br />
			<label>Tip Amount: </label>
			<input type="text">
			<br />
			<label>Booth Revenue </label>
			<input type="text">
		</div>
		<div class="header__item">
			<h1>Product Inventory</h1>
			<label>Product Name: </label>
			<input type="text">
			<br />
			<label>Amount: </label>
			<input type="text">
			<br />
			<label>Product Name: </label>
			<input type="text">
			<br />
			<label>Amount: </label>
			<input type="text">

		</div>
	</div>



</body>
