
@{
    ViewBag.Title = "ScheduleLogin";
}

<h2>ScheduleLogin</h2>
<form class="Login-Form">
    <p>
        Create Account
        <br>
        </p>
<table>
    <tr>
        <td align="left">First Name:</td>
        <td align="left"><input type="text" name="fname" /></td>
    </tr>
    <tr>
        <td align="left">Last Name:</td>
        <td align="left"><input type="text" name="lname" /></td>
    </tr>
    <tr>
        <td align="left">Phone:</td>
        <td align="left"><input type="tel" name="phone" pattern="[0-9]{3}-[0-9]{2}-[0-9]{3}" /></td>
    </tr>
    <tr>
        <td align="left">Email:</td>
        <td align="left"><input type="text" name="email" /></td>
    </tr>
    <tr>
        <td align="left">Password:</td>
        <td align="left"><input type="text" name="Password" /></td>
    </tr>
</table>
    <p>or login</p>
    <button name="btnLogin" href="">Login</button>
</form>