
@{
    ViewBag.Title = "BookNow";
}
@*book now buttons for however many stations there are  *@
<h2>BookNow!!!</h2>
<div class="center">
<a class="LogoStyle" id="btnBookNow1" name="btnBookNow" href="~/Home/BookNow">stylist1</a>
<a class="LogoStyle" id="btnBookNow2" name="btnBookNow" href="~/Home/BookNow">stylist2</a>
<a class="LogoStyle" id="btnBookNow3" name="btnBookNow" href="~/Home/BookNow">stylist3</a>
<a class="LogoStyle" id="btnBookNow4" name="btnBookNow" href="~/Home/BookNow">stylist4</a>
    </div>

<p1>
    Kelly L Gibson <br>
    hair designer <br>
    specializes in color <br>
    Phone number is (859)-628-8971
</p1>


