@{
	ViewBag.Title = "BookNow";
}
@*book now buttons for however many stations there are  *@
<div class="center">
	<h2>BookNow!!!</h2>
</div>
<div class="center">
	<a class="center" id="btnBookNow1" name="btnStylist1" href="~/BookNow/Stylist1">stylist1</a>
	<a class="center" id="btnBookNow1" name="btnStylist2" href="~/BookNow/Stylist2">stylist2</a>
	<a class="center" id="btnBookNow1" name="btnStylist3" href="~/BookNow/Stylist3">stylist3</a>
	<a class="center" id="btnBookNow1" name="btnStylist4" href="~/BookNow/Stylist4">stylist4</a>
</div>
<body>

	<div class="BookNow">
		<div class="BookNow">
			<p class="BookNow-text">
				Stylist 1 <br />
				Kelley L Gibson <br />
				hair designer <br />
				color specialist <br />
				(859) 628-8971 <br />

			</p>
		</div>

		<div class="BookNow">
			<p class="BookNow-text">
				Stylist 2 <br />
				Rhonda Ausdenmoore <br />
				Owner <br />
				hair designer<br />
				(859) 319-8009 <br />

			</p>
		</div>

		<div class="BookNow">
			<p class="BookNow-text">
				Stylist 3 <br />
				Barb Singleton<br />
				hair designer <br />
				Owner <br />
				(859) 866-2731 <br />

			</p>
		</div>

		<div class="BookNow">
			<p class="BookNow-text">
				Stylist 4 <br />
				Carrie Geiman<br />
				hair designer <br />
				(859) 816-6587 <br />

			</p>
		</div>
	</div>
</body>



