
@{
    ViewBag.Title = "BookNow";
}
@*book now buttons for however many stations there are  *@
<h2>BookNow!!!</h2>
<div class="center">
<a class="LogoStyle" id="btnBookNow1" name="btnBookNow" href="~/Home/BookNow">BookNow</a>
<a class="LogoStyle" id="btnBookNow2" name="btnBookNow" href="~/Home/BookNow">BookNow</a>
<a class="LogoStyle" id="btnBookNow3" name="btnBookNow" href="~/Home/BookNow">BookNow</a>
<a class="LogoStyle" id="btnBookNow4" name="btnBookNow" href="~/Home/BookNow">BookNow</a>
    </div>


