
@{
    ViewBag.Title = "ContactUs";
}

<h2>ContactUs</h2>
   <div class="center">
        <p>
            <label>Location:</label> <label>    4134-4160 Alexandria Pike, Cold Spring, KY 41076</label>
        </p>

        <p>
            <label>Phone:</label> <label>       (859) 441-6700</label>
        </p>

        <p>
            <label>Hours:</label>   
                <select name"Styles" id="Styles">
                    <option value="Day1">
                        Monday
                        9:00 AM - 9:00 PM
                    </option>
                    <option value="Day2">
                        Tuesday
                        9:00 AM - 9:00 PM
                    </option>
                    <option value="Day3">
                        Wednesday
                        9:00 AM - 9:00 PM
                    </option>
                    <option value="Day4">
                        Thursday
                        9:00 AM - 9:00 PM
                    </option>
                    <option value="Day5">
                         Friday
                         9:00 AM - 9:00 PM
                    </option>
                    <option value="Day6">
                        Saturday
                        9:00 AM - 5:00 PM
                    </option>
                    <option value="Day7">
                        Sunday
                        CLOSED
                    </option>
                </select>
        </p>

        <p> would you like to post a review?<br>
            <label>Name:</label>    <input type="text"><br>
            <label>Email:</label>   <input type="text"><br>
            <label>Message:</label> <input type="text"><br>
            <button value="submit">PostReview</button>
        </p>

   </div>
