@model SerenityHairDesigns.Models.ContactUs
@{

}

@if ((ViewBag.blnIsEmployee == 1) && (ViewBag.IsAdmin == 1))
{
	<div class="center-admin">
		<a class="center" name="LogOut" href="~/Profile/SignOut">Log Out</a>
		<a class="center" name="ScheduleAppointment" href="~/Profile/EmployeeScheduleAppointment">Schedule Appointment</a>
		<a class="center" name="EmployeesInfo" href="~/Profile/EmployeesInfo">My Info</a>
		<a class="center" name="ManageEmployees" href="~/Employee/ManageEmployees">Manage Employees</a>
		<a class="center" name="Profile" href="~/Profile/AdminLoggedIn">Admin Profile</a>
	</div>
}
@if ((ViewBag.blnIsEmployee == 1) && (ViewBag.IsAdmin != 1))
{
	<div class="center-employee">
		<a class="center" name="LogOut" href="~/Profile/SignOut">Log Out</a>
		<a class="center" name="ScheduleAppointment" href="~/Profile/EmployeeScheduleAppointment">Schedule Appointment</a>
		<a class="center" name="EmployeesInfo" href="~/Profile/EmployeesInfo">My Info</a>
		<a class="center" name="Profile" href="~/Profile/EmployeeLoggedIn">My Profile</a>
	</div>
}
@if (ViewBag.blnIsCustomer == 1)
{
	<div class="center-customer">
		<a class="center" name="LogOut" href="~/Profile/SignOut">Log Out</a>
		<a class="center" name="Profile" href="~/Profile/CustomerIndex">My Profile</a>
	</div>
}

<h2>ContactUs</h2>
<form action="ContactUs" method="post">

	<div class="center">
		<p>
			<label>Location:</label> <label>4134-4160 Alexandria Pike, Cold Spring, KY 41076</label>
		</p>

		<p>
			<label>Phone:</label> <label>(859) 441-6700</label>
		</p>

		<p>
			<label>Hours:</label>
		</p>

		<p>
			<label>Mon-Fri:</label> <label>9:00 AM - 9:00 PM</label>
		</p>

		<p>
			<label>Sat:</label> <label>9:00 - 5:00 PM</label>
		</p>

		<p>
			<label>Sunday:</label> <label>CLOSED</label>
		</p>

		<p>
			<br>
			<br>
			Would you like to post a review?<br>
			<br>

			<label>Name:</label> <input type="text" name="strName"><br>
			<br>
			<label>Email:</label> <input type="text" name="strEmail"><br>
			<br>
			<label>Message:</label> <textarea rows="4" cols="50" name="strMessage"></textarea>
			@*stars are backwards*@
			<div class="stars">
				<input type="radio" id="star1" name="intRating" value="1" />
				<label for="star1" onclick="updateRating(1)">&#9733;</label>
				<input type="radio" id="star2" name="intRating" value="2" />
				<label for="star2" onclick="updateRating(2)">&#9733;</label>
				<input type="radio" id="star3" name="intRating" value="3" />
				<label for="star3" onclick="updateRating(3)">&#9733;</label>
				<input type="radio" id="star4" name="intRating" value="4" />
				<label for="star4" onclick="updateRating(4)">&#9733;</label>
				<input type="radio" id="star5" name="intRating" value="5" />
				<label for="star5" onclick="updateRating(5)">&#9733;</label>
			</div>
			<br>
			<button value="submit">Post Review</button>
		</p>

	</div>
</form>

<script>

	function updateRating(intRating) {
		var stars = document.getElementsByName("intRating");
		var i;
		for (i = 0; i < stars.length; i++) {
			if (i < intRating) {
				stars[i].checked = true;
				stars[i].nextElementSibling.classList.add("selected");
			} else {
				stars[i].checked = false;
				stars[i].nextElementSibling.classList.remove("selected");
			}
		}
	}

</script>

