@model SerenityHairDesigns.Models.User
    @{
        ViewBag.Title = "login";
    }

    <h2>login</h2>


        <p>Enter your information and click the Sign-In button.</p>
        @using (Html.BeginForm(FormMethod.Post))
        {
            <div class="section">
                <div class="item">
                    <div>@Html.LabelFor(model => model.UserID)</div>
                    <div>@Html.TextBoxFor(model => model.UserID, new { @autofocus = "autofocus" })</div>
                </div>
                <div class="item">
                    <div>@Html.LabelFor(model => model.strPassword)</div>
                    <div>@Html.TextBoxFor(model => model.strPassword, new { type = "password" })</div>
                </div>
            </div>
            @*if (Model.ActionType == web2.Models.User.ActionTypes.RequiredFieldsMissing)
            {
                <div id="content-locked">
                    <i class="fad fa-exclamation-triangle fa-2x"></i>
                    <span>All fields are required.</span>
                </div>
            }

            if (Model.ActionType == web2.Models.User.ActionTypes.LoginFailed)
            {
                <div id="content-locked">
                    <i class="fad fa-exclamation-triangle fa-2x"></i>
                    <span>username and or password is incorrect. please try again</span>
                </div>
            }*@
            <div>
                <button id="btnSignIn" name="btnSubmit" value="signin" class="button-action"><i class="fas fa-sign-in-alt"></i> Sign-In</button>
            </div>


}
