@model SerenityHairDesigns.Models.Services

@{
	ViewBag.Title = "RemoveService";
}

@if ((ViewBag.blnIsEmployee == 1) && (ViewBag.IsAdmin == 1))
{
	<div class="center-admin">
		<a class="center" name="LogOut" href="~/Profile/SignOut">Log Out</a>
		<a class="center" name="ScheduleAppointment" href="~/Profile/EmployeeScheduleAppointment">Schedule Appointment</a>
		<a class="center" name="EmployeesInfo" href="~/Profile/EmployeesInfo">My Info</a>
		<a class="center" name="ManageEmployees" href="~/Employee/ManageEmployees">Manage Employees</a>
		<a class="center" name="Profile" href="~/Profile/AdminLoggedIn">Admin Profile</a>
	</div>
}
@if ((ViewBag.blnIsEmployee == 1) && (ViewBag.IsAdmin != 1))
{
	<div class="center-employee">
		<a class="center" name="LogOut" href="~/Profile/SignOut">Log Out</a>
		<a class="center" name="ScheduleAppointment" href="~/Profile/EmployeeScheduleAppointment">Schedule Appointment</a>
		<a class="center" name="EmployeesInfo" href="~/Profile/EmployeesInfo">My Info</a>
		<a class="center" name="Profile" href="~/Profile/EmployeeLoggedIn">My Profile</a>
	</div>
}
@if (ViewBag.blnIsCustomer == 1)
{
	<div class="center-customer">
		<a class="center" name="LogOut" href="~/Profile/SignOut">Log Out</a>
		<a class="center" name="Profile" href="~/Profile/CustomerIndex">My Profile</a>
	</div>
}

<h2>Remove Service</h2>

<div class="Create-Account-Form-Emp">
	<div class="Sign-In-Form-Emp">
		<p>Remove a Service from the Service Page</p>
		@using (Html.BeginForm(FormMethod.Post))
		{


			<select id="Services" name="Services">
				@foreach (var item in ViewBag.Services)
				{
					<option value="@item.intServiceID">@item.strServiceName</option>
				}
			</select>

			<br />
			<br />

			<button id="btnDeleteService" name="btnSubmit" value="btnDeleteService" class="button-action"><i class="fas fa-sign-in-alt"></i> Delete Service</button>
		}
	</div>
</div>